language: python
dist: xenial
sudo: true

# Limit git depth to speed up build
git:
  depth: 5

# Cache dependencies
cache:
  yarn: true
  directories:
    - node_modules

matrix:
  include:
    - python: 3.8-dev
      env: TOXENV=py38

install:
  - pip install tox
  - pip install python-coveralls

script:
  - tox

after_success:
  - coveralls
