recursive-include pymdownx *.py
recursive-include tests *.txt *.html *.yml *.py *.css
recursive-include docs/src/markdown *.md *.png *.gif *.html
recursive-include docs/theme *.js *.css *.html *.svg *.txt
recursive-include requirements *.txt
recursive-exclude site *
include .dictionary
include mkdocs.yml
include setup.py
include setup.cfg
include run_tests.py
include tox.ini
include .coveragerc
include LICENSE.md
include README.md
include MANIFEST.in
