site_name: PyMdown Extensions Documentation
site_url: https://facelessuser.github.io/pymdown-extensions
repo_url: https://github.com/facelessuser/pymdown-extensions
edit_uri: tree/master/docs/src/markdown
site_description: A Collection of Useful Extensions for Python Markdown
copyright: |
  Copyright &copy; 2014 - 2020 <a href="https://github.com/facelessuser">Isaac Muse</a>
  <br><span class="md-footer-custom-text">emoji provided free by </span>
  <a href="https://github.com/twitter/twemoji">Twemoji</a>

docs_dir: docs/src/markdown
theme:
  name: material
  custom_dir: docs/theme
  palette:
    primary: blue
    accent: blue
  logo:
    icon: library_books
  font:
    text: Roboto
    code: Roboto Mono
  feature:
    tabs: true

nav:
  - PyMdown Extensions: index.md
  - Installation: installation.md
  - Usage Notes: usage_notes.md
  - Extensions:
    - Arithmatex: extensions/arithmatex.md
    - B64: extensions/b64.md
    - BetterEm: extensions/betterem.md
    - Caret: extensions/caret.md
    - Critic: extensions/critic.md
    - Details: extensions/details.md
    - Emoji: extensions/emoji.md
    - EscapeAll: extensions/escapeall.md
    - Extra: extensions/extra.md
    - ExtraRawHTML: extensions/extrarawhtml.md
    - Highlight: extensions/highlight.md
    - InlineHilite: extensions/inlinehilite.md
    - Keys: extensions/keys.md
    - MagicLink: extensions/magiclink.md
    - Mark: extensions/mark.md
    - PathConverter: extensions/pathconverter.md
    - StripHTML: extensions/striphtml.md
    - ProgressBar: extensions/progressbar.md
    - SmartSymbols: extensions/smartsymbols.md
    - Snippets: extensions/snippets.md
    - SuperFences: extensions/superfences.md
    - Tabbed: extensions/tabbed.md
    - Tasklist: extensions/tasklist.md
    - Tilde: extensions/tilde.md
  - Miscellaneous Extras: miscellaneous_extras.md
  - FAQ: faq.md
  - About:
    - Contributing &amp; Support: about/contributing.md
    - Development: about/development.md
    - Changelog: about/changelog.md
    - Release Notes: about/release.md
    - License: about/license.md

markdown_extensions:
  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: "\ue157"
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - markdown.extensions.footnotes:
  - pymdownx.extrarawhtml:
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.highlight:
      extend_pygments_lang:
        - name: php-inline
          lang: php
          options:
            startinline: true
        - name: pycon3
          lang: pycon
          options:
            python3: true
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite:
      custom_inline:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.inline_mathjax_format
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      user: facelessuser
      repo: pymdown-extensions
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.escapeall:
      hardbreak: True
      nbsp: True
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.progressbar:
  - pymdownx.arithmatex:
  - pymdownx.mark:
  - pymdownx.striphtml:
  - pymdownx.snippets:
      base_path: docs/src/markdown/_snippets
  - pymdownx.keys:
      separator: "\uff0b"
  - pymdownx.details:
  - pymdownx.tabbed:

extra:
  social:
    - icon: brands/github
      link: https://github.com/facelessuser
extra_css:
  - extra-3e0384323a.css
extra_javascript:
  - extra-0d9305e748.js

plugins:
  - search
  - git-revision-date-localized
