site_name: PyMdown Extensions Documentation
site_url: https://facelessuser.github.io/pymdown-extensions
repo_url: https://github.com/facelessuser/pymdown-extensions
edit_uri: tree/master/docs/src/markdown
site_description: A Collection of Useful Extensions for Python Markdown
copyright: |
  Copyright &copy; 2014 - 2017 <a href="https://github.com/facelessuser">Isaac Muse</a>
  <br><span class="md-footer-custom-text">emoji provided free by </span><a href="http://www.emojione.com">EmojiOne</a>

docs_dir: docs/src/markdown
theme:
  name: material
  custom_dir: docs/theme
  palette:
    primary: blue
    accent: blue
  logo:
    icon: description
  font:
    text: Roboto
    code: Roboto Mono

pages:
  - PyMdown Extensions: index.md
  - Installation: installation.md
  - Usage Notes: usage_notes.md
  - Extensions:
    - Arithmatex: extensions/arithmatex.md
    - B64: extensions/b64.md
    - BetterEm: extensions/betterem.md
    - Caret: extensions/caret.md
    - Critic: extensions/critic.md
    - Details: extensions/details.md
    - Emoji: extensions/emoji.md
    - EscapeAll: extensions/escapeall.md
    - Extra: extensions/extra.md
    - ExtraRawHTML: extensions/extrarawhtml.md
    - GitHub: extensions/github.md
    - Highlight: extensions/highlight.md
    - InlineHilite: extensions/inlinehilite.md
    - Keys: extensions/keys.md
    - MagicLink: extensions/magiclink.md
    - Mark: extensions/mark.md
    - PathConverter: extensions/pathconverter.md
    - PlainHTML: extensions/plainhtml.md
    - ProgressBar: extensions/progressbar.md
    - SmartSymbols: extensions/smartsymbols.md
    - Snippets: extensions/snippets.md
    - SuperFences: extensions/superfences.md
    - Tasklist: extensions/tasklist.md
    - Tilde: extensions/tilde.md
  - Miscellaneous Extras: miscellaneous_extras.md
  - Contributing &amp; Support: contributing.md
  - Development: development.md
  - Changelog: changelog.md
  - License: license.md

markdown_extensions:
  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: "\ue157"
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - pymdownx.extrarawhtml:
  - pymdownx.superfences:
  - pymdownx.highlight:
      css_class: codehilite
      extend_pygments_lang:
        - name: php-inline
          lang: php
          options:
            startinline: true
  - pymdownx.inlinehilite:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      user: facelessuser
      repo: pymdown-extensions
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
  - pymdownx.escapeall:
      hardbreak: True
      nbsp: True
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.progressbar:
  - pymdownx.arithmatex:
  - pymdownx.mark:
  - pymdownx.plainhtml:
      strip_attributes: ''
  - pymdownx.snippets:
      base_path: docs/src/markdown/_snippets
  - pymdownx.keys:
      separator: "\uff0b"
  - pymdownx.details:

extra:
  social:
    - type: github
      link: https://github.com/facelessuser
extra_css:
  - extra-00833721db.css
extra_javascript:
  - extra-4596f9831a.js
