site_name: PyMdown Extensions Documentation
repo_url: https://github.com/facelessuser/pymdown-extensions
site_description: A Collection of Useful Extensions for Python Markdown
copyright: Copyright &copy; 2014 - 2017 <a href="https://github.com/facelessuser">Isaac Muse</a>

theme: material
theme_dir: docs/_theme

pages:
  - PyMdown Extensions: index.md
  - Installation: installation.md
  - Usage Notes: usage_notes.md
  - Extensions:
    - Arithmatex: extensions/arithmatex.md
    - B64: extensions/b64.md
    - BetterEm: extensions/betterem.md
    - Caret: extensions/caret.md
    - Critic: extensions/critic.md
    - Emoji: extensions/emoji.md
    - EscapeAll: extensions/escapeall.md
    - Extra: extensions/extra.md
    - ExtraRawHTML: extensions/extrarawhtml.md
    - GitHub: extensions/github.md
    - Highlight: extensions/highlight.md
    - InlineHilite: extensions/inlinehilite.md
    - Keys: extensions/keys.md
    - MagicLink: extensions/magiclink.md
    - Mark: extensions/mark.md
    - PathConverter: extensions/pathconverter.md
    - PlainHTML: extensions/plainhtml.md
    - ProgressBar: extensions/progressbar.md
    - SmartSymbols: extensions/smartsymbols.md
    - Snippets: extensions/snippets.md
    - SuperFences: extensions/superfences.md
    - Tasklist: extensions/tasklist.md
    - Tilde: extensions/tilde.md
  - Miscellaneous Extras: miscellaneous_extras.md
  - Contributing &amp; Support: contributing.md
  - Development: development.md
  - Changelog: changelog.md
  - License: license.md

markdown_extensions:
  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: 
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - pymdownx.extrarawhtml:
  - pymdownx.superfences:
      css_class: codehilite
  - pymdownx.highlight:
      extend_pygments_lang:
        - name: php-inline
          lang: php
          options:
            startinline: true
  - pymdownx.inlinehilite:
      css_class: codehilite
  - pymdownx.magiclink:
      repo_url_shortener: true
      base_repo_url: https://github.com/facelessuser/pymdown-extensions
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
  - pymdownx.escapeall:
      hardbreak: True
      nbsp: True
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.progressbar:
  - pymdownx.arithmatex:
  - pymdownx.mark:
  - pymdownx.plainhtml:
      strip_attributes: ''
  - pymdownx.snippets:
      base_path: docs/_snippets
  - pymdownx.keys:
      separator: ＋

extra:
  palette:
    primary: blue
    accent: purple
  font:
    text: Roboto
    code: Roboto Mono
  social:
    - type: github
      link: https://github.com/facelessuser
extra_css:
  - extra.css
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js
  - extra.js
