/* Dark mode style */
[data-md-color-primary^="drac-"] {
  .md-typeset {
    del.critic {
      background-color: #{transparentize($drac-pink, 0.5)};
    }

    ins.critic {
      background-color: #{transparentize($drac-green, 0.5)};
    }
  }
}

/* Don't use box shadows */
.md-typeset {
  del,
  ins {
    &.critic {
      padding: px2em(1px, 16px) px2em( 4px, 16px);
      box-shadow: none;
    }
  }

  .critic.break {
    margin: 0;
  }
}
