@use "./admonition";

/* Inherit admonition style */
.md-typeset {
  details {
    @extend .admonition;

    overflow: hidden;

    // Title
    > summary {
      @extend .admonition-title;

      > :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        font-weight: inherit;
        font-size: inherit;
      }

      // Disable accessibility focus
      &:focus {
        outline-style: none;
      }
    }
  }
}
