/* Dark mode changes */
:root {
  --md-typeset-kbd-color: #{shade(hsla(0, 100%, 100%, 1), 8%)};
  --md-typeset-kbd-border-color: #{shade(hsla(0, 100%, 100%, 1), 28%)};
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);

  [data-md-color-scheme="slate"] {
    --md-typeset-kbd-color: var(--md-default-fg-color--lightest);
    --md-typeset-kbd-border-color: #{darken(rgb(46, 48, 62), 9%)};
    --md-typeset-kbd-accent-color: var(--md-default-fg-color--lighter);
  }

  [data-md-color-scheme="dracula"] {
    --md-typeset-kbd-color: var(--md-default-fg-color--lightest);
    --md-typeset-kbd-border-color: var(--md-default-bg-color--darkest);
    --md-typeset-kbd-accent-color: var(--md-default-fg-color--lighter);
  }
}
