// General styling for repository link icons
.md-typeset {
  // We like our links blue regardless of theme color
  a {
    color: var(--md-link-color);
  }

  a[href^="mailto:"]::before {
    mask-image: #{icon("material/mail")};
  }

  .magiclink-compare,
  .magiclink-commit,
  .magiclink-pull,
  .magiclink-issue {
    &::before {
      mask-position: bottom;
      mask-repeat: no-repeat;
      mask-size: px2em(15px) auto;
    }
  }

  .magiclink-repository,
  .magiclink-compare,
  .magiclink-commit,
  .magiclink-pull,
  .magiclink-issue,
  a[href^="mailto:"] {
    &::before {
      position: relative;
      width: px2em(16px);
      height: px2em(16px);
      padding-right: px2em(16px);
      background-color: var(--md-link-color);
      background-size: px2em(16px);
      transition: background-color 125ms;
      content: "\a0";
    }

    &:hover::before {
      background-color: var(--md-accent-fg-color);
    }
  }
}

// Assign icons to repository links
@each $name, $icon in (
  "commit": "git-commit",
  "compare": "diff",
  "pull": "git-pull-request",
  "issue": "issue-opened"
) {
  .md-typeset {
    .magiclink-#{$name} {
      &::before {
        mask-image: inline-svg("./docs/src/svg/octicons/#{$icon}.svg");
      }
    }
  }
}

// Assign icons to repository links
@each $name, $icon in (
  "github": "github-circle",
  "gitlab": "gitlab",
  "bitbucket": "bitbucket"
) {
  .md-typeset {
    .magiclink-repository.magiclink-#{$name} {
      &::before {
        mask-image: #{icon("material/#{$icon}")};
      }
    }
  }
}
