.md-typeset {

  /* UML */
  .uml-sequence-diagram,
  .uml-flowchart {
    width: 100%;
    padding: px2rem(20px) 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);

    svg {
      max-width: initial;
    }
  }
}
