/* Special handling of Mermaid content. */
.md-typeset {
  div.mermaid {
    margin: px2em(16px) 0;
    overflow: auto;

    // Override native scrollbar styles
    &::-webkit-scrollbar {
      width: px2rem(4px);
      height: px2rem(4px);
    }

    // Scrollbar thumb
    &::-webkit-scrollbar-thumb {
      background-color: var(--md-default-fg-color--lighter);

      // Hovered scrollbar thumb
      &:hover {
        background-color: var(--md-accent-fg-color);
      }
    }
  }
}
