/* Dark mode changes */
[data-md-color-scheme="dracula"] {
  .md-typeset table:not([class]) {
    box-shadow: var(--md-shadow-z2);

    tr:hover {
      background-color: rgba(0,0,0,.08);
    }

    th {
      color: var(--md-text-color);
      background-color: var(--md-default-bg-color--ultra-dark);
      border-bottom: px2rem(1px) solid var(--md-primary-fg-color);
    }

    td {
      border-top: px2rem(1px) solid var(--md-default-fg-color--lighter);
    }
  }
}
