// Header anchors
.md-typeset {
  .headerlink {
    width: px2em(16px);
    height: px2em(16px);
    vertical-align: middle;
    background-color: var(--md-default-fg-color--lighter);
    background-size: px2em(16px);
    mask-size: px2em(16px);
    mask-repeat: no-repeat;
    visibility: visible;
    mask-image: svg-load("@mdi/svg/svg/link.svg");
  }

  .headerlink:hover,
  [id]:target .headerlink {
    background-color: var(--md-accent-fg-color);
  }
}
