$md-code-background: hsla(0, 0%, 92.5%, 0.5);
$md-code-special: hsl(0, 0%, 100%);
$md-linenos-background-special: hsl(0, 0%, 90%);
$md-linenos-background-special-table: hsla(0, 0%, 60%, 0.2);
$md-linenos-background: hsl(0, 0%, 97%);
$md-linenos: #999999;
$md-linenos-border: #DDDDDD;
$tab-label: #333333;
$tab-current-label: #FF5252;

.md-typeset {

  /* Code */
  a {
    > code {
      $correct: 1 / 0.85;

      margin: 0 0.25em * $correct;
      padding: 0.0625em * $correct 0;
      border-radius: 0.2rem;
      background-color: $md-code-background;
      box-shadow:
        +0.25em * $correct 0 0 $md-code-background,
        -0.25em * $correct 0 0 $md-code-background;
      box-decoration-break: clone;
    }
  }

  .linenodiv {
    .special {
      margin-right: -1.2rem;
      margin-left: -1.2rem;
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      background-color: $md-linenos-background-special-table;
    }
  }

  > table .linenodiv {
    @media only screen and (max-width: 44.9375em) {
      .special {
        margin-left: -1.6rem;
        padding-left: 1.6rem;
      }
    }
  }

  td code {
    word-break: normal;
  }

  .codehilite,
  .highlight {
    tab-size: 8;

    .hll {
      display: inline;
    }

    [data-linenos] {
      &.special::before {
        background-color: $md-linenos-background-special;
      }

      &::before {
        display: inline-block;
        // position: sticky;
        // left: -1.2rem;
        margin-right: 0.5rem;
        margin-left: -1.2rem;
        padding-left: 1.2rem;
        border-right: 0.0625rem solid $md-linenos-border;
        background-color: $md-linenos-background;
        color: $md-linenos;
        content: attr(data-linenos);
        user-select: none;
      }

      + .hll {
        margin: 0 -0.5rem;
        padding: 0 0.5rem;
      }
    }
  }

  > .codehilite,
  > .highlight {
    [data-linenos]::before {
      @media only screen and (max-width: 44.9375em) {
        // left: -1.6rem;
        margin-left: -1.6rem;
        padding-left: 1.6rem;
      }
    }
  }
}
