.md-typeset {

  /* Code */
  a {
    > code {
      $correct: 1 / 0.85;

      margin: 0 0.25em * $correct;
      padding: 0.0625em * $correct 0;
      border-radius: 0.2rem;
      background-color: var(--md-code-bg-color);
      box-shadow:
        +0.25em * $correct 0 0 var(--md-code-bg-color),
        -0.25em * $correct 0 0 var(--md-code-bg-color);
      box-decoration-break: clone;
    }
  }

  .codehilitetable {
    .linenos {
      border-right: 0.0625rem solid var(--md-default-fg-color--lighter);
      border-radius: 0;
      background-color: var(--md-code-bg-color);
    }

    .linenodiv {
      .special {
        margin-right: -0.6rem;
        margin-left: -0.6rem;
        padding-right: 0.6rem;
        padding-left: 0.6rem;
        background-color: var(--md-default-fg-color--lightest);
      }
    }
  }

  td code {
    word-break: normal;
  }

  .codehilite {
    tab-size: 8;

    .hll {
      display: inline;
    }

    [data-linenos] {
      &::before {
        display: inline-block;
        position: initial;  // `sticky`
        left: -0.6rem;
        margin-right: 0.6rem;
        margin-left: -0.6rem;
        padding-left: 0.6rem;
        border-right: 0.0625rem solid var(--md-default-fg-color--lighter);
        background-color: transparent;  // `$md-linenos-background`
        color: var(--md-default-fg-color--lighter);
        content: attr(data-linenos);
        user-select: none;
      }

      &.special::before {
        background-color: var(--md-default-fg-color--lightest);
      }

      + .hll {
        margin: 0 -0.6rem;
        padding: 0 0.6rem;
      }
    }
  }

  > {
    .codehilitetable {
      .linenodiv {
        @media only screen and (max-width: 44.9375em) {
          .special {
            margin-right: -0.8rem;
            margin-left: -0.8rem;
            padding-right: 0.8rem;
            padding-left: 0.8rem;
          }
        }
      }
    }

    .codehilite {
      [data-linenos]::before {
        @media only screen and (max-width: 44.9375em) {
          left: -1.6rem;
          margin-left: -1.6rem;
          padding-left: 1.6rem;
        }
      }
    }
  }

  .highlight {
    @extend .codehilite;
  }

  .highlighttable {
    @extend .codehilitetable;
  }
}
