.md-typeset {

  /* Code that is also a link */
  a {
    > code {
      $correct: 1 / 0.85;

      margin: 0 0.25em * $correct;
      padding: 0.0625em * $correct 0;
      border-radius: 0.2rem;
      background-color: var(--md-code-bg-color);
      box-shadow:
        +0.25em * $correct 0 0 var(--md-code-bg-color),
        -0.25em * $correct 0 0 var(--md-code-bg-color);
      box-decoration-break: clone;
    }
  }

  /* Don't always like code breaking in table cells */
  td code {
    word-break: normal;
  }

  .codehilite {

    /* Needed for tab preserving mode */
    tab-size: 8;

    .hll {
      margin: 0 -0.6rem;
      padding: 0 0.6rem;
    }

    /* `inine` mode */
    span.lineno {

      /* Line number fixes for consistency */
      &:not([data-linenos]) {
        left: -1.1764705882em;
        margin-right: 1.1764705882em;
        margin-left: -1.1764705882em;
        padding-left: 1.1764705882em;
        float: left;
        border-right: 0.0625rem solid var(--md-default-fg-color--lighter);
        background-color: hsl(0, 0%, 97%);
        color: var(--md-default-fg-color--lighter);
      }

      /* Special line mode coloring */
      &.special {
        background-color: var(--md-default-fg-color--lightest);
      }
    }

    /* `pymdownx-inline` mode */
    [data-linenos] {

      /* Fix line number background and colors and interaction with highlight line */
      &::before {
        // position: initial;  // remove `sticky` mode
        left: -1.1764705882em;
        margin-right: 1.1764705882em;
        margin-left: -1.1764705882em;
        padding-left: 1.1764705882em;
        float: left;
        background-color: hsl(0, 0%, 97%);
      }

      /* Special line mode coloring */
      &.special::before {
        background-color: var(--md-default-fg-color--lightest);
      }
    }
  }

  /* Special line number coloring for tables */
  .codehilitetable {
    .codehilite.hll {
      margin: 0 -0.8rem;
      padding: 0 0.8rem;
    }

    .linenodiv {
      .special {
        margin-right: -0.525em;
        margin-left: -1.1764705882em;
        padding-right: 0.525em;
        padding-left: 1.1764705882em;
        background-color: var(--md-default-fg-color--lightest);
      }
    }
  }

  .highlight {
    @extend .codehilite;
  }

  .highlighttable {
    @extend .codehilitetable;
  }
}
