$md-code-background: hsla(0, 0%, 92.5%, 0.5);

.md-typeset {

  /* Code */
  a {
    > code {
      $correct: 1 / 0.85;

      margin: 0 0.25em * $correct;
      padding: 0.0625em * $correct 0;
      border-radius: 0.2rem;
      background-color: $md-code-background;
      box-shadow:
        +0.25em * $correct 0 0 $md-code-background,
        -0.25em * $correct 0 0 $md-code-background;
      box-decoration-break: clone;
    }
  }

  td code {
    word-break: normal;
  }

  .codehilite,
  .highlight {
    .hll {
      display: inline;
    }
  }
}
