$md-link-color-hover: hsl(218, 100%, 63%);
$md-link-color-deactivated: #888888;

.md-typeset {
  .headerlink {
    width: 0.9rem;
    height: 0.9rem;
    background-color: $md-link-color-deactivated;
    background-size: 0.9rem;
    mask-size: 0.9rem;
    mask-repeat: no-repeat;
    vertical-align: middle;
    visibility: visible;
    mask-image: inline-svg("./docs/src/svg/material/link.svg");

    @media only screen and (min-width: 76.1876em) {
      margin-left: -1rem;
      float: left;
    }
  }

  h1 {
    .headerlink {
      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.5rem;
      }
    }
  }

  h2 {
    .headerlink {
      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.45rem;
      }
    }
  }

  h3 {
    .headerlink {
      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.35rem;
      }
    }
  }

  h4 {
    .headerlink {
      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.2rem;
      }
    }
  }

  h5,
  h6 {
    .headerlink {
      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.05rem;
      }
    }
  }

  .headerlink:hover,
  [id]:target .headerlink {
    background-color: $md-link-color-hover;
  }
}
