.md-typeset {
  .headerlink {
    font: normal 400 2rem "Material Icons";
    vertical-align: middle;

    @media only screen and (min-width: 76.1876em) {
      margin-left: -2.4rem;
      float: left;
    }
  }

  h2 {
    .headerlink {
      margin-top: -0.4rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.6rem;
      }
    }
  }

  h3 {
    .headerlink {
      margin-top: -0.3rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.4rem;
      }
    }
  }

  h4 {
    .headerlink {
      margin-top: -0.2rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.2rem;
      }
    }
  }

  h5,
  h6 {
    .headerlink {
      margin-top: -0.2rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0;
      }
    }
  }
}
