.md-typeset {
  .headerlink {
    font: normal 400 1rem "Material Icons";
    vertical-align: middle;

    @media only screen and (min-width: 76.1876em) {
      margin-left: -1.2rem;
      float: left;
    }
  }

  h1 {
    .headerlink {
      margin-top: -0.3rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.4rem;
      }
    }
  }

  h2 {
    .headerlink {
      margin-top: -0.2rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.3rem;
      }
    }
  }

  h3 {
    .headerlink {
      margin-top: -0.15rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.2rem;
      }
    }
  }

  h4 {
    .headerlink {
      margin-top: -0.1rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0.1rem;
      }
    }
  }

  h5,
  h6 {
    .headerlink {
      margin-top: -0.1rem;

      @media only screen and (min-width: 76.1876em) {
        margin-top: 0;
      }
    }
  }
}
