.md-typeset {

  /* Keys */
  .keys {
    kbd {
      &::before,
      &::after {
        position: relative;
        margin: 0;
        color: $clr-grey-400;
        font-family: sans-serif;
        -moz-osx-font-smoothing: initial;
        -webkit-font-smoothing: initial;
        font-weight: 400;
      }
    }

    span {
      padding: 0 0.2rem;
      color: $clr-grey-400;
    }

    // Build primary colors
    @each $name, $code in (
      "backspace": "\2190",
      "command":   "\2318",
      "windows":   "\229E",
      "caps-lock": "\21EA",
      "control":   "\2303",
      "meta":      "\25C6",
      "shift":     "\21E7",
      "option":    "\2325",
    ) {
      .key-#{$name} {
        &::before {
          padding-left: 0.2rem;
          content: $code;
        }
      }
    }

    // Build primary colors
    @each $name, $code in (
      "tab":       "\21B9",
      "num-enter": "\21B5",
      "enter":     "\21A9"
    ) {
      .key-#{$name} {
        &::after {
          padding-left: 0.2rem;
          content: $code;
        }
      }
    }
  }
}
