// General styling for repository link icons
.md-typeset {
  .magiclink.magiclink-repository {
    &::before {
      position: relative;
      width: 1em;
      height: 1em;
      padding-right: 1em;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1em;
      filter: invert(50%) sepia(93%) saturate(1300%) hue-rotate(197deg);
      content: "\a0";
    }
  }
}

// Assign icons to repository links
@each $name, $icon in (
  "github": "github",
  "gitlab": "gitlab",
  "bitbucket": "bitbucket"
) {
  .md-typeset {
    .magiclink-repository.magiclink-#{$name} {
      &::before {
        background-image: url("svg/#{$icon}.svg");
      }
    }
  }
}
