// General styling for repository link icons
.md-typeset {
  a[href^="mailto:"]::before {
    mask-image: inline-svg("./docs/src/svg/material/mail.svg");
  }

  .magiclink-compare,
  .magiclink-commit,
  .magiclink-pull,
  .magiclink-issue {
    &::before {
      mask-position: bottom;
      mask-repeat: no-repeat;
      mask-size: 1em auto;
    }
  }

  .magiclink-repository,
  .magiclink-compare,
  .magiclink-commit,
  .magiclink-pull,
  .magiclink-issue,
  a[href^="mailto:"] {
    &::before {
      position: relative;
      width: 1em;
      height: 1em;
      padding-right: 1em;
      background-color: var(--md-primary-fg-color);
      background-size: 1em;
      content: "\a0";
    }

    &:hover::before {
      background-color: var(--md-accent-fg-color);
    }
  }
}

// Assign icons to repository links
@each $name, $icon in (
  "commit": "git-commit",
  "compare": "diff",
  "pull": "git-pull-request",
  "issue": "issue-opened"
) {
  .md-typeset {
    .magiclink-#{$name} {
      &::before {
        mask-image: inline-svg("./docs/src/svg/octicons/#{$icon}.svg");
      }
    }
  }
}

// Assign icons to repository links
@each $name, $icon in (
  "github": "github-circle",
  "gitlab": "gitlab",
  "bitbucket": "bitbucket"
) {
  .md-typeset {
    .magiclink-repository.magiclink-#{$name} {
      &::before {
        mask-image: inline-svg("./docs/src/svg/material/#{$icon}.svg");
      }
    }
  }
}
