html {
  background-color: transparent;
}

/* Style custom footer content */
.md-footer {
  &-copyright {
    .md-footer-copyright__highlight {
      color: var(--md-default-bg-color--light);
    }
  }
}

/* Dark mode changes */
[data-md-color-primary^="drac-"] {
  // Header, navigation, and tabs
  $footer-meta-fg-color: #{lighten($drac-bg, 15%)};
  color: var(--md-default-fg-color);
  background-color: var(--md-default-bg-color);

  .md-header {
    background-color: var(--md-default-bg-color--darkest);
    border-bottom: px2rem(1px) solid var(--md-primary-fg-color);

    &[data-md-state=shadow] {
        box-shadow: 0 0 px2rem(4px) rgba(0,0,0,.15),
                    0 0 px2rem(4px) px2rem(8px) rgba(0,0,0,.2);
    }
  }

  .md-header,
  .md-nav__source,
  .md-tabs {
    color: var(--md-default-fg-color);
  }

  .md-tabs {
    background-color: var(--md-primary-fg-color--transparent);

    &__link--active {
        color: var(--md-primary-fg-color);
    }

    &__link:hover {
        color: var(--md-accent-fg-color);
    }
  }

  .md-hero {
    color: var(--md-default-fg-color);
    background-color: var(--md-primary-fg-color--transparent);
  }

  @include break-to-device(tablet) {

    // Site title in main navigation
    .md-nav--primary .md-nav__title {
      color: var(--md-default-fg-color);
      background-color: var(--md-default-bg-color--darkest);
      border-bottom: px2rem(1px) solid var(--md-primary-fg-color);
    }
  }

  // [tablet portrait -]: Layered navigation
  @include break-to-device(tablet portrait) {

    // Repository containing source
    .md-nav__source {
      color: var(--md-default-fg-color);
      background-color: var(--md-primary-fg-color--transparent);
    }

    .md-nav .md-nav__title {
      color: var(--md-default-fg-color);
      background-color: var(--md-default-bg-color--darkest);
      border-bottom: px2rem(1px) solid var(--md-primary-fg-color);
    }
  }

  // Search
  .md-search__input {
    color: var(--md-default-fg-color);
    background-color: var(--md-accent-bg-color--light);

    &:hover {
      background-color: var(--md-default-bg-color);
    }

    ~ .md-search__icon {
      color: var(--md-default-fg-color);
    }
    &::placeholder {
      color: var(--md-default-fg-color--light);
    }
  }

  .md-search__overlay, .md-overlay {
      background-color: var(--md-default-bg-color--light);
  }

  // Footer
  .md-footer {

    color: var(--md-default-fg-color--light);
    background-color: transparent;

    &-nav__direction {
      color: var(--md-primary-fg-color);
    }

    &-meta {
      background-color: var(--md-default-bg-color--darkest);
      border-top: px2rem(1px) solid var(--md-primary-fg-color);
    }

    &-copyright {
      color: $footer-meta-fg-color;
      .md-footer-copyright__highlight {
        color: var(--md-default-fg-color--light);
      }
    }
  }

  .md-footer-meta.md-typeset a {
      color: var(--md-default-fg-color--light);

      &:hover {
        color: var(--md-default-fg-color);
      }
  }

  .md-typeset {
    h5 {
      color: var(--md-default-fg-color);
      text-transform: none;
    }
  }
}
