@use "utilities/break";
@use "utilities/convert";

html {
  background-color: transparent;
}

[data-md-component="announce"] .twemoji {
  color: var(--md-primary-fg-color);
}

/* Dark mode changes */
[data-md-color-scheme="slate"] {

  --md-text-color: var(--md-default-fg-color);
  background-color: var(--md-default-bg-color);

  // Footer color shades
  --md-footer-bg-color:                transparent;
  --md-footer-bg-color--dark:          var(--md-default-bg-color--darkest);

  // Header colors
  --md-header-fg-color: var(--md-text-color);
  --md-header-bg-color: var(--md-default-bg-color--darkest);

  .md-top {
    background-color: var(--md-default-bg-color--dark);

    &:hover {
      background-color: var(--md-primary-fg-color);
    }
  }

  // Announcements
  [data-md-component="announce"] {
    background-color: var(--md-default-bg-color--ultra-dark);
  }
}

// Header
.md-header {
  border-bottom: convert.px2rem(1px) solid var(--md-primary-fg-color);
}

.md-container .md-tabs {
  background-color: var(--md-accent-fg-color--transparent);
  box-shadow: none;

  .md-tabs__item--active {
    border-bottom: none;
  }
}

// Footer
.md-footer {
  border-top: none;

  .md-footer-meta {
    background-color: var(--md-default-bg-color);
  }

  &-meta {
    border-top: convert.px2rem(1px) solid var(--md-primary-fg-color);
  }
}

 // // Navigation
.md-nav__source {
  color: var(--md-text-color);
}

.md-nav__link[data-md-state=blur] {
  color: var(--md-default-fg-color--light);
}

.md-nav__item .md-nav__link--active {
  color: var(--md-primary-fg-color);
}

.md-nav__link {
  &:focus,
  &:hover {
    color: var(--md-accent-fg-color);
  }
}

.md-typeset {

  /* Don't force capitalization of `H5` elements. */
  h5 {
    color: var(--md-text-color);
    text-transform: none;
  }
}

.md-typeset__scrollwrap,
.md-sidebar__scrollwrap,
.md-search__scrollwrap,
.md-typeset pre > code,
.md-typeset div.mermaid,
.md-typeset div.diagram,
.md-typeset mermaid-div,
.md-typeset diagram-div,
.md-typeset pre.arithmatex,
.md-typeset div.arithmatex {
  // Firefox scrollbar and thumb
  scrollbar-color: var(--md-default-fg-color--lighter) transparent;
  scrollbar-width: thin;

  // Firefox hovered scrollbar and thumb
  &:hover {
    scrollbar-color: var(--md-accent-fg-color) transparent;
  }

  // Override native scrollbar styles
  &::-webkit-scrollbar {
    width: convert.px2rem(4px);
    height: convert.px2rem(4px);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  // Scrollbar thumb
  &::-webkit-scrollbar-thumb {
    background-color: var(--md-default-fg-color--lighter);

    // Hovered scrollbar thumb
    &:hover {
      background-color: var(--md-accent-fg-color);
    }
  }
}
