.md-typeset {
  details {

    /* General consistent styling */
    display: block;
    margin: 1em 0;

    &[open] {
      > summary {
        &::before {
          content: "\25BC";
        }
      }
    }

    summary {
      display: block;
      cursor: pointer;

      &::before {
        content: "\25B6";
        padding-right: 0.5em;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    /* Styling for unsupported details with JavaScript */
    &.no-details {
      &:not([open]) > * {
        display: none;
      }

      summary {
        display: block;
      }
    }
  }
}

// Typesetted content
.md-typeset {
  details {
    @each $names, $appearance in (
      note: $clr-light-blue-a400 "edit",
      summary tldr: $clr-light-blue-a400 "subject",
      tip hint important : $clr-teal-a700 "whatshot",
      success check done: $clr-green-a400 "done",
      warning caution attention: $clr-orange-a400 "warning",
      failure fail missing: $clr-red-a200 "clear",
      danger error: $clr-red-a400 "flash_on",
      bug: $clr-pink-a400 "bug_report",
      quote cite: $clr-grey "format_quote"
    ) {
      $tint: nth($appearance, 1);
      $icon: nth($appearance, 2);

      &.#{nth($names, 1)} {
        @include z-depth(2);

        padding: 1.2rem;
        margin-bottom: 1rem;

        *:nth-child(2) {
          margin-top: 0;
        }

        // Remove spacing on last element
        *:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: none;
        }

        > summary {
          outline: none;
          position: relative;
          margin: -1.2rem -1.2rem 0 -1.2rem;
          padding: 0.5rem 3.2rem;
          background-color: $tint;
          color: white;

          &::after {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            font-family: 'Material Icons';
            font-size: 1.5rem;
          }

          &::before {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            font-family: 'Material Icons';
            content: $icon;
          }
        }

        &[open] {
          > summary {
            margin-bottom: 1.2rem;

            &::after {
              content: "keyboard_arrow_down";
            }
          }
        }

        &:not([open]) {
          padding-bottom: 0;

          > summary {
            &::after {
              content: "keyboard_arrow_left";
            }
          }
        }
      }
    }
  }
}
