.md-typeset {
  details {
    display: block;
    margin: 1em 0;

    &[open] {
      > summary {
        &::before {
          content: "\25BC";
        }
      }
    }

    summary {
      display: block;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::before {
        content: "\25B6";
        padding-right: 0.5em;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    &.no-details {
      > * {
        display: none;
      }

      summary {
        display: block;
      }
    }
  }
}
