.md-typeset {
  details {

    /* General consistent styling */
    display: block;
    margin: 1em 0;

    &[open] {
      > summary {
        &::before {
          content: "\25BC";
        }
      }
    }

    summary {
      display: block;
      cursor: pointer;

      &::before {
        content: "\25B6";
        padding-right: 0.5em;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    /* Styling for unsupported details with JavaScript */
    &.no-details {
      &:not([open]) > * {
        display: none;
      }

      summary {
        display: block;
      }
    }
  }
}
