.md-typeset {
  .tabbed-content {
    // Reset background
    border-top: 0.0625rem solid var(--md-default-fg-color--lightest);
    background-color: initial;
    overflow: auto;
  }

  > label {
    margin: 0;
    padding: 0.6rem;
  }

  .tabbed-set {
    border: 0;

    > input {
      &:checked + label {
        & + .tabbed-content {
          > {
            pre,
            .highlight,
            .highlighttable,
            .codehilite,
            .codehilitetable {
              &:only-child {
                pre {
                  // Reset background
                  background: var(--md-code-bg-color);
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 44.9375em) {
    > .tabbed-set {
      margin: 1em 0;
      border: 0;

      input:first-child + label {
        margin-left: 0;
      }
    }
  }
}
