.md-typeset {
  .tabbed-content {
    // Reset background
    background-color: initial;
    box-shadow: inset 0 0.25rem 0.5rem -0.5rem var(--md-default-fg-color);
    overflow: auto;
  }

  .tabbed-set {
    > input {
      &:checked + label {
        & + .tabbed-content {
          > {
            pre,
            .highlight,
            .highlighttable,
            .codehilite,
            .codehilitetable {
              &:only-child {
                pre {
                  // Reset background
                  background: var(--md-code-bg-color);
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 44.9375em) {
    > .tabbed-set {
      margin: 1em 0;
      border: 0.05rem solid var(--md-default-fg-color--lightest);
      border-radius: 0.1rem;
    }
  }
}
