@import "./dracula";

:root {
  > * {
    // We like our links blue
    --md-typeset-a-color: #{$clr-cyan-500};
  }

  // Special code link style
  --md-code-link-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-link-accent-bg-color: var(--md-code-link-bg-color);

  [data-md-color-scheme="slate"] {
    --md-code-link-bg-color: hsla(232, 15%, 15%, 1);
    --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
  }

  // Dark mode color changes
  [data-md-color-scheme="dracula"] {
    // Main code colors
    --md-code-fg-color: #{$drac-fg};
    --md-code-bg-color: #{$drac-bg};

    --md-typeset-a-color: #{$drac-cyan};
    --md-code-link-bg-color: #{mix($drac-cyan, $drac-bg, 15%)};

    // Default color shades
    --md-default-fg-color:               #{transparentize($drac-fg, 0.13)};
    --md-default-fg-color--light:        #{transparentize($drac-fg, 0.46)};
    --md-default-fg-color--lighter:      #{transparentize($drac-fg, 0.84)};
    --md-default-fg-color--lightest:     #{transparentize($drac-fg, 0.93)};

    --md-default-bg-color:               #{$drac-default-bg};
    --md-default-bg-color--light:        #{transparentize($drac-default-bg, 0.3)};
    --md-default-bg-color--lighter:      #{transparentize($drac-default-bg, 0.7)};
    --md-default-bg-color--lightest:     #{transparentize($drac-default-bg, 0.88)};
  }

  // Dark specific colors
  --md-default-bg-color--dark:         #{darken($drac-default-bg, 3%)};
  --md-default-bg-color--darker:       #{darken($drac-default-bg, 6%)};
  --md-default-bg-color--darkest:      #{darken($drac-default-bg, 9%)};
  --md-default-bg-color--ultra-dark:   #{darken($drac-default-bg, 15%)};
}

// ----------------------------------------------------------------------------
// Rules: primary colors
// ----------------------------------------------------------------------------

@each $name, $colors in (
  "red":         $drac-red         lighten($drac-red, 5%)   darken($drac-red, 5%),
  "pink":        $drac-pink        lighten($drac-pink, 5%)   darken($drac-pink, 5%),
  "purple":      $drac-purple      lighten($drac-purple, 5%)   darken($drac-purple, 5%),
  "deep-purple": $drac-purple      lighten($drac-purple, 5%)   darken($drac-purple, 5%),
  "blue":        $drac-blue        lighten($drac-blue, 5%)   darken($drac-blue, 5%),
  "indigo":      $drac-blue        lighten($drac-blue, 5%)   darken($drac-blue, 5%),
  "light-blue":  $drac-blue        lighten($drac-blue, 5%)   darken($drac-blue, 5%),
  "cyan":        $drac-cyan        lighten($drac-cyan, 5%)   darken($drac-cyan, 5%),
  "teal":        $drac-cyan        lighten($drac-cyan, 5%)   darken($drac-cyan, 5%),
  "green":       $drac-green       lighten($drac-green, 5%)   darken($drac-green, 5%),
  "light-green": $drac-green       lighten($drac-green, 5%)   darken($drac-green, 5%),
  "lime":        $drac-green       lighten($drac-green, 5%)   darken($drac-green, 5%),
  "yellow":      $drac-yellow      lighten($drac-yellow, 5%)   darken($drac-yellow, 5%),
  "amber":       $drac-yellow      lighten($drac-yellow, 5%)   darken($drac-yellow, 5%),
  "orange":      $drac-orange      lighten($drac-orange, 5%)   darken($drac-orange, 5%),
  "deep-orange": $drac-orange      lighten($drac-orange, 5%)   darken($drac-orange, 5%)
) {

  // Color palette
  [data-md-color-scheme="dracula"][data-md-color-primary="#{$name}"],
  [data-md-color-scheme="dracula"] :not([data-md-color-scheme])[data-md-color-primary="#{$name}"]
   {

    --md-primary-code-bg-color:         #{mix($drac-bg, nth($colors, 1), 85%)};
    --md-primary-fg-color:              hsla(#{hex2hsl(nth($colors, 1))}, 1);
    --md-primary-fg-color--transparent: hsla(#{hex2hsl(nth($colors, 1))}, 0.1);
    --md-primary-fg-color--light:       hsla(#{hex2hsl(nth($colors, 2))}, 1);
    --md-primary-fg-color--dark:        hsla(#{hex2hsl(nth($colors, 3))}, 1);
    --md-primary-bg-color:              var(--md-default-bg-color);
    --md-primary-bg-color--light:       var(--md-default-bg-color--light);
  }
}

// ----------------------------------------------------------------------------
// Rules: accent colors
// ----------------------------------------------------------------------------

@each $name, $color in (
  "red":         darken($drac-red, 5%),
  "pink":        darken($drac-pink, 5%),
  "purple":      darken($drac-purple, 5%),
  "deep-purple": darken($drac-purple, 5%),
  "blue":        darken($drac-blue, 5%),
  "indigo":      darken($drac-blue, 5%),
  "light-blue":  darken($drac-blue, 5%),
  "cyan":        darken($drac-cyan, 5%),
  "teal":        darken($drac-cyan, 5%),
  "green":       darken($drac-green, 5%),
  "light-green": darken($drac-green, 5%),
  "lime":        darken($drac-green, 5%),
  "yellow":      darken($drac-yellow, 5%),
  "amber":       darken($drac-yellow, 5%),
  "orange":      darken($drac-orange, 5%),
  "deep-orange": darken($drac-orange, 5%)
) {

  // Color palette
  [data-md-color-scheme="dracula"][data-md-color-accent="#{$name}"],
  [data-md-color-scheme="dracula"] :not([data-md-color-scheme])[data-md-color-primary="#{$name}"] {
    --md-code-link-accent-bg-color:    #{mix($color, $drac-bg, 15%)};
    --md-accent-fg-color:              hsla(#{hex2hsl($color)}, 1);
    --md-accent-fg-color--transparent: hsla(#{hex2hsl($color)}, 0.1);
    --md-accent-bg-color:              var(--md-default-bg-color);
    --md-accent-bg-color--light:       var(--md-default-bg-color--light);
  }
}
