@import "./dracula";

:root {
  // We like our links blue
  --md-link-color: #{$clr-cyan-500};
  --md-link-code-bg-color: hsla(0, 0%, 96%, 1);
  --md-accent-link-code-bg-color: var(--md-link-code-bg-color);

  // Dark mode color changes
  [data-md-color-primary^="drac-"] {
    --md-code-fg-color: #{$drac-fg};
    --md-code-bg-color: #{$drac-bg};
    --md-link-color: #{$drac-cyan};
    --md-link-code-bg-color: #{mix($drac-cyan, $drac-bg, 15%)};

    // Default color shades
    --md-default-fg-color:               #{transparentize($drac-fg, 0.13)};
    --md-default-fg-color--light:        #{transparentize($drac-fg, 0.46)};
    --md-default-fg-color--lighter:      #{transparentize($drac-fg, 0.84)};
    --md-default-fg-color--lightest:     #{transparentize($drac-fg, 0.93)};

    --md-default-bg-color:               #{$drac-default-bg};
    --md-default-bg-color--light:        #{transparentize($drac-default-bg, 0.3)};
    --md-default-bg-color--lighter:      #{transparentize($drac-default-bg, 0.7)};
    --md-default-bg-color--lightest:     #{transparentize($drac-default-bg, 0.88)};
  }

  // Dark specific colors
  --md-default-bg-color--dark:         #{darken($drac-default-bg, 3%)};
  --md-default-bg-color--darker:       #{darken($drac-default-bg, 6%)};
  --md-default-bg-color--darkest:      #{darken($drac-default-bg, 9%)};
}

// ----------------------------------------------------------------------------
// Rules: primary colors
// ----------------------------------------------------------------------------

@each $name, $colors in (
  "drac-red":         $drac-red         lighten($drac-red, 5%)   darken($drac-red, 5%),
  "drac-pink":        $drac-pink        lighten($drac-pink, 5%)   darken($drac-pink, 5%),
  "drac-purple":      $drac-purple      lighten($drac-purple, 5%)   darken($drac-purple, 5%),
  "drac-blue":        $drac-blue        lighten($drac-blue, 5%)   darken($drac-blue, 5%),
  "drac-cyan":        $drac-cyan        lighten($drac-cyan, 5%)   darken($drac-cyan, 5%),
  "drac-green":       $drac-green       lighten($drac-green, 5%)   darken($drac-green, 5%),
  "drac-yellow":      $drac-yellow      lighten($drac-yellow, 5%)   darken($drac-yellow, 5%),
  "drac-orange":      $drac-orange      lighten($drac-orange, 5%)   darken($drac-orange, 5%)
) {

  // Color palette
  [data-md-color-primary="#{$name}"] {

    --md-primary-code-bg-color:         #{mix($drac-bg, nth($colors, 1), 85%)};
    --md-primary-fg-color:              hsla(#{hex2hsl(nth($colors, 1))}, 1);
    --md-primary-fg-color--transparent: hsla(#{hex2hsl(nth($colors, 1))}, 0.1);
    --md-primary-fg-color--light:       hsla(#{hex2hsl(nth($colors, 2))}, 1);
    --md-primary-fg-color--dark:        hsla(#{hex2hsl(nth($colors, 3))}, 1);
    --md-primary-bg-color:              var(--md-default-bg-color);
    --md-primary-bg-color--light:       var(--md-default-bg-color--light);
  }
}

// ----------------------------------------------------------------------------
// Rules: accent colors
// ----------------------------------------------------------------------------

@each $name, $color in (
  "drac-red":         darken($drac-red, 5%),
  "drac-pink":        darken($drac-pink, 5%),
  "drac-purple":      darken($drac-purple, 5%),
  "drac-blue":        darken($drac-blue, 5%),
  "drac-cyan":        darken($drac-cyan, 5%),
  "drac-green":       darken($drac-green, 5%),
  "drac-yellow":      darken($drac-yellow, 5%),
  "drac-orange":      darken($drac-orange, 5%)
) {

  // Color palette
  [data-md-color-accent="#{$name}"] {
    --md-accent-link-code-bg-color:    #{mix($color, $drac-bg, 15%)};
    --md-accent-fg-color:              hsla(#{hex2hsl($color)}, 1);
    --md-accent-fg-color--transparent: hsla(#{hex2hsl($color)}, 0.1);
    --md-accent-bg-color:              var(--md-default-bg-color);
    --md-accent-bg-color--light:       var(--md-default-bg-color--light);
  }
}
