// Material Colors
// https://materialui.co/colors

$clr-red:      #f44336;
$clr-red-50:   #ffebee;
$clr-red-100:  #ffcdd2;
$clr-red-200:  #ef9a9a;
$clr-red-300:  #e57373;
$clr-red-400:  #ef5350;
$clr-red-500:  #f44336;
$clr-red-600:  #e53935;
$clr-red-700:  #d32f2f;
$clr-red-800:  #c62828;
$clr-red-900:  #b71c1c;
$clr-red-a100: #ff8a80;
$clr-red-a200: #ff5252;
$clr-red-a400: #ff1744;
$clr-red-a700: #d50000;

$clr-pink:      #e91e63;
$clr-pink-50:   #fce4ec;
$clr-pink-100:  #f8bbd0;
$clr-pink-200:  #f48fb1;
$clr-pink-300:  #f06292;
$clr-pink-400:  #ec407a;
$clr-pink-500:  #e91e63;
$clr-pink-600:  #d81b60;
$clr-pink-700:  #c2185b;
$clr-pink-800:  #ad1457;
$clr-pink-900:  #880e4f;
$clr-pink-a100: #ff80ab;
$clr-pink-a200: #ff4081;
$clr-pink-a400: #f50057;
$clr-pink-a700: #c51162;

$clr-purple:      #9c27b0;
$clr-purple-50:   #f3e5f5;
$clr-purple-100:  #e1bee7;
$clr-purple-200:  #ce93d8;
$clr-purple-300:  #ba68c8;
$clr-purple-400:  #ab47bc;
$clr-purple-500:  #9c27b0;
$clr-purple-600:  #8e24aa;
$clr-purple-700:  #7b1fa2;
$clr-purple-800:  #6a1b9a;
$clr-purple-900:  #4a148c;
$clr-purple-a100: #ea80fc;
$clr-purple-a200: #e040fb;
$clr-purple-a400: #d500f9;
$clr-purple-a700: #aa00ff;

$clr-deep-purple:      #673ab7;
$clr-deep-purple-50:   #ede7f6;
$clr-deep-purple-100:  #d1c4e9;
$clr-deep-purple-200:  #b39ddb;
$clr-deep-purple-300:  #9575cd;
$clr-deep-purple-400:  #7e57c2;
$clr-deep-purple-500:  #673ab7;
$clr-deep-purple-600:  #5e35b1;
$clr-deep-purple-700:  #512da8;
$clr-deep-purple-800:  #4527a0;
$clr-deep-purple-900:  #311b92;
$clr-deep-purple-a100: #b388ff;
$clr-deep-purple-a200: #7c4dff;
$clr-deep-purple-a400: #651fff;
$clr-deep-purple-a700: #6200ea;

$clr-indigo:      #3f51b5;
$clr-indigo-50:   #e8eaf6;
$clr-indigo-100:  #c5cae9;
$clr-indigo-200:  #9fa8da;
$clr-indigo-300:  #7986cb;
$clr-indigo-400:  #5c6bc0;
$clr-indigo-500:  #3f51b5;
$clr-indigo-600:  #3949ab;
$clr-indigo-700:  #303f9f;
$clr-indigo-800:  #283593;
$clr-indigo-900:  #1a237e;
$clr-indigo-a100: #8c9eff;
$clr-indigo-a200: #536dfe;
$clr-indigo-a400: #3d5afe;
$clr-indigo-a700: #304ffe;

$clr-blue:      #2196f3;
$clr-blue-50:   #e3f2fd;
$clr-blue-100:  #bbdefb;
$clr-blue-200:  #90caf9;
$clr-blue-300:  #64b5f6;
$clr-blue-400:  #42a5f5;
$clr-blue-500:  #2196f3;
$clr-blue-600:  #1e88e5;
$clr-blue-700:  #1976d2;
$clr-blue-800:  #1565c0;
$clr-blue-900:  #0d47a1;
$clr-blue-a100: #82b1ff;
$clr-blue-a200: #448aff;
$clr-blue-a400: #2979ff;
$clr-blue-a700: #2962ff;

$clr-light-blue:      #03a9f4;
$clr-light-blue-50:   #e1f5fe;
$clr-light-blue-100:  #b3e5fc;
$clr-light-blue-200:  #81d4fa;
$clr-light-blue-300:  #4fc3f7;
$clr-light-blue-400:  #29b6f6;
$clr-light-blue-500:  #03a9f4;
$clr-light-blue-600:  #039be5;
$clr-light-blue-700:  #0288d1;
$clr-light-blue-800:  #0277bd;
$clr-light-blue-900:  #01579b;
$clr-light-blue-a100: #80d8ff;
$clr-light-blue-a200: #40c4ff;
$clr-light-blue-a400: #00b0ff;
$clr-light-blue-a700: #0091ea;

$clr-cyan:      #00bcd4;
$clr-cyan-50:   #e0f7fa;
$clr-cyan-100:  #b2ebf2;
$clr-cyan-200:  #80deea;
$clr-cyan-300:  #4dd0e1;
$clr-cyan-400:  #26c6da;
$clr-cyan-500:  #00bcd4;
$clr-cyan-600:  #00acc1;
$clr-cyan-700:  #0097a7;
$clr-cyan-800:  #00838f;
$clr-cyan-900:  #006064;
$clr-cyan-a100: #84ffff;
$clr-cyan-a200: #18ffff;
$clr-cyan-a400: #00e5ff;
$clr-cyan-a700: #00b8d4;

$clr-teal:      #009688;
$clr-teal-50:   #e0f2f1;
$clr-teal-100:  #b2dfdb;
$clr-teal-200:  #80cbc4;
$clr-teal-300:  #4db6ac;
$clr-teal-400:  #26a69a;
$clr-teal-500:  #009688;
$clr-teal-600:  #00897b;
$clr-teal-700:  #00796b;
$clr-teal-800:  #00695c;
$clr-teal-900:  #004d40;
$clr-teal-a100: #a7ffeb;
$clr-teal-a200: #64ffda;
$clr-teal-a400: #1de9b6;
$clr-teal-a700: #00bfa5;

$clr-green:      #4caf50;
$clr-green-50:   #e8f5e9;
$clr-green-100:  #c8e6c9;
$clr-green-200:  #a5d6a7;
$clr-green-300:  #81c784;
$clr-green-400:  #66bb6a;
$clr-green-500:  #4caf50;
$clr-green-600:  #43a047;
$clr-green-700:  #388e3c;
$clr-green-800:  #2e7d32;
$clr-green-900:  #1b5e20;
$clr-green-a100: #b9f6ca;
$clr-green-a200: #69f0ae;
$clr-green-a400: #00e676;
$clr-green-a700: #00c853;

$clr-light-green:      #8bc34a;
$clr-light-green-50:   #f1f8e9;
$clr-light-green-100:  #dcedc8;
$clr-light-green-200:  #c5e1a5;
$clr-light-green-300:  #aed581;
$clr-light-green-400:  #9ccc65;
$clr-light-green-500:  #8bc34a;
$clr-light-green-600:  #7cb342;
$clr-light-green-700:  #689f38;
$clr-light-green-800:  #558b2f;
$clr-light-green-900:  #33691e;
$clr-light-green-a100: #ccff90;
$clr-light-green-a200: #b2ff59;
$clr-light-green-a400: #76ff03;
$clr-light-green-a700: #64dd17;

$clr-lime:      #cddc39;
$clr-lime-50:   #f9fbe7;
$clr-lime-100:  #f0f4c3;
$clr-lime-200:  #e6ee9c;
$clr-lime-300:  #dce775;
$clr-lime-400:  #d4e157;
$clr-lime-500:  #cddc39;
$clr-lime-600:  #c0ca33;
$clr-lime-700:  #afb42b;
$clr-lime-800:  #9e9d24;
$clr-lime-900:  #827717;
$clr-lime-a100: #f4ff81;
$clr-lime-a200: #eeff41;
$clr-lime-a400: #c6ff00;
$clr-lime-a700: #aeea00;

$clr-yellow:      #ffeb3b;
$clr-yellow-50:   #fffde7;
$clr-yellow-100:  #fff9c4;
$clr-yellow-200:  #fff59d;
$clr-yellow-300:  #fff176;
$clr-yellow-400:  #ffee58;
$clr-yellow-500:  #ffeb3b;
$clr-yellow-600:  #fdd835;
$clr-yellow-700:  #fbc02d;
$clr-yellow-800:  #f9a825;
$clr-yellow-900:  #f57f17;
$clr-yellow-a100: #ffff8d;
$clr-yellow-a200: #ffff00;
$clr-yellow-a400: #ffea00;
$clr-yellow-a700: #ffd600;

$clr-amber:      #ffc107;
$clr-amber-50:   #fff8e1;
$clr-amber-100:  #ffecb3;
$clr-amber-200:  #ffe082;
$clr-amber-300:  #ffd54f;
$clr-amber-400:  #ffca28;
$clr-amber-500:  #ffc107;
$clr-amber-600:  #ffb300;
$clr-amber-700:  #ffa000;
$clr-amber-800:  #ff8f00;
$clr-amber-900:  #ff6f00;
$clr-amber-a100: #ffe57f;
$clr-amber-a200: #ffd740;
$clr-amber-a400: #ffc400;
$clr-amber-a700: #ffab00;

$clr-orange:      #ff9800;
$clr-orange-50:   #fff3e0;
$clr-orange-100:  #ffe0b2;
$clr-orange-200:  #ffcc80;
$clr-orange-300:  #ffb74d;
$clr-orange-400:  #ffa726;
$clr-orange-500:  #ff9800;
$clr-orange-600:  #fb8c00;
$clr-orange-700:  #f57c00;
$clr-orange-800:  #ef6c00;
$clr-orange-900:  #e65100;
$clr-orange-a100: #ffd180;
$clr-orange-a200: #ffab40;
$clr-orange-a400: #ff9100;
$clr-orange-a700: #ff6d00;

$clr-deep-orange:      #ff5722;
$clr-deep-orange-50:   #fbe9e7;
$clr-deep-orange-100:  #ffccbc;
$clr-deep-orange-200:  #ffab91;
$clr-deep-orange-300:  #ff8a65;
$clr-deep-orange-400:  #ff7043;
$clr-deep-orange-500:  #ff5722;
$clr-deep-orange-600:  #f4511e;
$clr-deep-orange-700:  #e64a19;
$clr-deep-orange-800:  #d84315;
$clr-deep-orange-900:  #bf360c;
$clr-deep-orange-a100: #ff9e80;
$clr-deep-orange-a200: #ff6e40;
$clr-deep-orange-a400: #ff3d00;
$clr-deep-orange-a700: #dd2c00;

$clr-brown:      #795548;
$clr-brown-50:   #efebe9;
$clr-brown-100:  #d7ccc8;
$clr-brown-200:  #bcaaa4;
$clr-brown-300:  #a1887f;
$clr-brown-400:  #8d6e63;
$clr-brown-500:  #795548;
$clr-brown-600:  #6d4c41;
$clr-brown-700:  #5d4037;
$clr-brown-800:  #4e342e;
$clr-brown-900:  #3e2723;

$clr-grey:      #9e9e9e;
$clr-grey-50:   #fafafa;
$clr-grey-100:  #f5f5f5;
$clr-grey-200:  #eeeeee;
$clr-grey-300:  #e0e0e0;
$clr-grey-400:  #bdbdbd;
$clr-grey-500:  #9e9e9e;
$clr-grey-600:  #757575;
$clr-grey-700:  #616161;
$clr-grey-800:  #424242;
$clr-grey-900:  #212121;

$clr-blue-grey:      #607d8b;
$clr-blue-grey-50:   #eceff1;
$clr-blue-grey-100:  #cfd8dc;
$clr-blue-grey-200:  #b0bec5;
$clr-blue-grey-300:  #90a4ae;
$clr-blue-grey-400:  #78909c;
$clr-blue-grey-500:  #607d8b;
$clr-blue-grey-600:  #546e7a;
$clr-blue-grey-700:  #455a64;
$clr-blue-grey-800:  #37474f;
$clr-blue-grey-900:  #263238;
