$mainBkg: shade($drac-purple, 50%);

.md-typeset div.mermaid {
  svg {
    /* stylelint-disable selector-class-pattern */

    max-width: none;
    font-size: 16px !important;
    background-color: #{$drac-default-bg};

    defs marker#ZERO_OR_MORE_END circle {
      fill: $drac-purple !important;
    }

    // Flowchart
    .labelText,
    .label text {
      fill: $drac-purple;
    }

    .edgeLabel {
      text {
        fill: $drac-purple !important;
      }
      rect {
        opacity: 0.5 !important;
        fill: shade($drac-purple, 50%) !important;
      }
    }

    // Sequence
    .noteText {
      fill: $drac-yellow;
    }

    // Gantt
    .sectionTitle {
      fill: $drac-fg !important;
    }

    .grid .tick {
      line {
        stroke: transparentize($drac-purple, 0.3) !important;
      }
      text {
        fill: $drac-purple;
      }
    }

    // class Diagram
    .statediagram-state rect.divider {
      fill: transparent !important;
    }
    .stateGroup {
      circle {
        &[style$="fill: black;"] {
          fill: $mainBkg !important;
          stroke: $mainBkg !important;
        }

        &[style$="fill: white;"] {
          fill: $mainBkg !important;
          stroke: $drac-purple !important;
        }
      }

      .composit {
        fill: $drac-default-bg;
      }
    }
  }

  /* stylelint-enable selector-class-pattern */
}
