name: build

on:
  push:
    branches:
      - 'master'

jobs:
  tests:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        platform: [ubuntu-latest, windows-latest]
        python-version: [2.7, 3.5, 3.6, 3.7]
        include:
          - python-version: 2.7
            tox-env: py27
          - python-version: 3.5
            tox-env: py35
          - python-version: 3.6
            tox-env: py36
          - python-version: 3.7
            tox-env: py37

    env:
      TOXENV: ${{ matrix.tox-env }}

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools tox coverage codecov
    - name: Test with pytest
      run: |
        python -m tox
    - name: Coverage Report
      if: success()
      run: |
        python -m codecov -t ${{ secrets.CODECOV_TOKEN }}

  lint:
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    env:
      TOXENV: lint

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools tox
    - name: Lint
      run: |
        python -m tox

  documents:
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    env:
      TOXENV: documents

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools tox
        npm install
    - name: Install Aspell
      run: |
        sudo apt-get install aspell aspell-en
    - name: Build documents
      run: |
        npm run-script build
        python -m tox
