name: labels

on:
  push:
    branches:
      - 'master'

jobs:
  label-sync:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Sync labels
      uses: facelessuser/label-mgr-action@master
      with:
        token: ${{ secrets.GH_TOKEN }}
        mode: 'delete'
